@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x:hidden;
  margin: 0px;
}

h1 {
  @apply font-sans text-8xl font-bold block my-3
}

h2 {
  @apply font-sans text-4xl font-bold my-3
}

p {
  @apply font-serif text-xl
}

.gyp__piano-key-white {
  @apply text-black bg-white font-medium h-20 border-black border-2 -z-10 col-start-1 col-span-4 text-right pr-3
}

.gyp__piano-key-black {
  @apply text-white bg-black font-medium h-14 border-black border-2 -my-7 col-start-1 col-span-3
}

.gyp__audio-player-3d {
  perspective: 1000px;
  box-shadow: 2px 10px 30px hsla(0%, 0%, 0%, 0,25);
  transform: rotateX(4deg) rotateY(-10deg) rotateZ(1deg);
  border-radius: 2em;
  transition-duration: 1000ms;
  transition-property: transform;
}

.gyp__audio-player-3d:hover {
  transform: rotate(0);
}

.gyp__image-3d {
  perspective: 1500px;
  box-shadow: 3px 12px 35px hsla(0%, 0%, 0%, 0,25);
  border-radius: 0.25em;
  transform: scale(0.75);
  transition-duration: 1000ms;
  transition-property: transform;
}

.gyp__image-scale-up {
  transform: rotate(0) scale(1);
}