@tailwind base;
@tailwind components;
@tailwind utilities;
/* scale calculation: 1 + (ztransform * -1) / persepctive*/
body {
  overflow-x:hidden;
  margin: 0px;
}

h1 {
  @apply font-sans text-5xl sm:text-6xl md:text-8xl font-bold block md:my-3
}

h2 {
  @apply font-sans text-2xl sm:text-3xl md:text-4xl font-medium md:my-3
}

p {
  @apply font-serif text-lg sm:text-xl
}

span {
  @apply text-xs sm:text-base
}

.gyp__piano-sidebar-3d {
  perspective: 600px;
}

.gyp__piano-key-white {
  transform: rotateY(-1deg);
  box-shadow: 6px 0px 0px 0px rgba(0, 0, 0, 0.15);
  transition-property: transform box-shadow;
  transition-duration: 400ms;
  transition-type: ease-in;
  @apply text-black bg-white font-medium h-20 border-black border-2 
  -z-10 col-start-1 col-span-4 text-right pr-3 rounded-r-xl
}

.gyp__piano-key-black {
  transform: rotateY(-1deg);
  box-shadow: 4px 0px 0px 1px rgba(0, 0, 0, 0.85);
  transition-property: transform box-shadow;
  transition-duration: 300ms;
  transition-type: ease-in;
  @apply text-white bg-black font-medium h-14 border-black border-2 
  -my-7 col-start-1 col-span-3 rounded-r-xl
}

.gyp__piano-key-white:hover, .gyp__piano-key-black:hover {
  transform: rotateY(0deg);
  box-shadow: 8px 0px 0px 0px rgba(0, 0, 0, 0);
}

.gyp__piano-key-pressed {
  transform: rotateY(0deg);
  box-shadow: 8px 0px 0px 0px rgba(0, 0, 0, 0);
}

.gyp__scroll-snap-parent {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  max-height: 100vh;
}

.gyp__scroll-snap-child {
  scroll-snap-align: start;
}

.gyp__scroll-snap-parent::-webkit-scrollbar {
  background: transparent;
}

.perspective-100 {
  perspective: 100px;
}

.perspective-1000 {
  perspective: 1000px;
}

.gyp__range-slider {
  -webkit-appearance: none; 
  outline: none;
  height: 5px; 
  -webkit-transition: .2s;
  transition: opacity .2s;
  @apply bg-gray-300 rounded-full hover:bg-gray-400
}

.gyp__range-slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  outline: none;
  width: 10px;
  height: 10px;
  cursor: pointer;
  @apply bg-gray-400 rounded-full
}

.gyp__range-slider::-webkit-slider-thumb:hover {
  transform: scale(1.4);
  @apply bg-gray-500
}

.gyp__audio-player-3d {
  box-shadow: 0px 0px 40px 6px rgba(0, 0, 0, 0.5);
  border-radius: 2em;
  animation-name: twirl;
  animation-duration: 1s;
  animation-timing-function: linear;
  transition-duration: 1000ms;
  transition-property: transform;
}

.gyp__audio-player-rotations {
  transform: rotateX(2deg) rotateY(-8deg) rotateZ(2deg);
}

.gyp__audio-player-3d:hover {
  transform: rotate(0);
}

@keyframes twirl {
  0% {   
    transform: rotateX(-4deg) rotateY(180deg) rotateZ(-4deg);
    opacity: 0;
  }
  20% {
    transform: rotateX(-2deg) rotateY(144deg) rotateZ(-2deg);
  }
  40% {
    transform: rotateX(0deg) rotateY(108deg) rotateZ(0deg);
  }
  60% {
    transform: rotateX(0deg) rotateY(72deg) rotateZ(0deg);
  }
  80% {
    transform: rotateX(2deg) rotateY(36deg) rotateZ(2deg);
  }
  100% {
    transform: rotateX(2deg) rotateY(-8deg) rotateZ(2deg);
    opacity: 1;
  }
}

.gyp__image-3d {
  perspective: 1500px;
  box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.25em;
  transform: scale(0.75);
  transition-duration: 1000ms;
  transition-property: transform;
}

.gyp__image-scale-up {
  box-shadow: 0px 0px 18px 12px rgba(0, 0, 0, 0.25);
  transform: rotate(0) scale(1);
}


.gyp__timeline-content-initial {
  opacity: 0.4;
  filter: blur(5px);
  transform: translateZ(-25px) scale(0.9);
  transition: all 1.5s;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gyp__timeline-content-intersect {
  opacity: 1;
  filter: blur(0);
  transform: translateZ(0) scale(1);
}